.dashboard {
  padding: 10px;

  @media (min-width: 768px) {
    padding: 50px 90px;
  }

  @media (min-width: 1024px) {
    padding: 50px 130px;
  }
}

.dashboard h1 {
  margin-bottom: 1rem;
}

.resum {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 3fr;
  }
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* max-width: max-content; */
}

.card.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card.alert a {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 0.7rem;
  background-color: var(--box-checked-color);
  border-radius: var(--border-radius);
}

.card.alert .icon {
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  font-size: 40px;
}

.card,
.informations .graphic_bar,
.informations .score {
  text-align: center;
  padding: 1rem;

  font-size: 0.8rem;
  font-weight: bold;

  background-color: var(--secondary-background-color);

  border-radius: var(--border-radius);

  @media (min-width: 768px) {
    font-size: 1rem;
  }

  @media (min-width: 1024px) {
    padding: 2rem;
  }
}

.informations {
  display: grid;

  width: 100%;
  grid-template-rows: 2fr 0.5fr;
  width: 100%;

  gap: 1rem;
}

.informations .graphic_bar {
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 1fr;

  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.graphic_bar div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  border-radius: var(--border-radius);
  font-weight: bold;
}

.bar {
  max-width: 40px;
  margin: 0 auto;
  height: 250px;

  background-color: var(--main-background-color);

  transform: rotate(180deg);
}

.score {
  display: grid;
  justify-content: center;
  grid-template-rows: 0.5fr 1fr;

  @media (min-width: 768px) {
    grid-template-rows: 1fr 1fr;
  }
}

.score div {
  display: grid;
  align-items: left;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.score div p {
  padding: 0.8rem;
  border-radius: var(--border-radius);
}

.score div p:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.card.no_tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  margin: 0 auto;
}

.card.no_tasks .icon {
  font-size: 5rem;
  margin: 0 auto;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
}

.card.no_tasks a {
  background-color: var(--box-checked-color);
  padding: 0.7rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: var(--border-radius);
}
