.dashboard {
  padding: 10px;

  @media (min-width: 768px) {
    padding: 50px 90px;
  }

  @media (min-width: 1024px) {
    padding: 50px 130px;
  }
}

.dashboard h1 {
  margin-bottom: 2rem;
}

.resum {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  @media (min-width: 1024px) {
  }
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;

  @media (min-width: 768px) {
    width: 30%;
  }
}

.card {
  text-align: center;
  padding: 1rem;

  width: 100%;
  height: max-content;
  margin: 0 auto;

  font-size: 0.8rem;
  font-weight: bold;

  background-color: var(--secondary-background-color);

  border-radius: var(--border-radius);

  @media (min-width: 768px) {
    width: max-content;
    height: max-content;
    font-size: 1rem;
  }

  @media (min-width: 1024px) {
    padding: 2rem;
  }
}

.card.no_tasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card.no_tasks .icon {
  font-size: 5rem;
  margin: 0 auto;
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
}

.card.no_tasks a {
  background-color: var(--box-checked-color);
  padding: 0.7rem;
  text-decoration: none;
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.card.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
}

.card.alert a {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 0.7rem;
  background-color: var(--box-checked-color);
  border-radius: var(--border-radius);
}

.card.alert .icon {
  background-color: var(--main-background-color);
  border-radius: var(--border-radius);
  font-size: 40px;
}

.card.graphic_bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 1rem;
  width: 100%;

  @media (min-width: 768px) {
    width: 70%;
    justify-content: space-evenly;
  }
}

.graphic_bar div {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;

  width: calc((100% / 2) - 0.5rem);
  max-width: 100px;

  border-radius: var(--border-radius);

  font-weight: bold;
}

.bar {
  height: 250px;

  background-color: var(--main-background-color);

  transform: rotate(180deg);
}

.bar div {
  width: 100%;
}
