.home {
  position: relative;
  padding: 10px;

  @media (min-width: 768px) {
    padding: 50px 90px;
  }

  @media (min-width: 1024px) {
    padding: 50px 130px;
  }
}

.home h3 {
  margin-top: 0.5rem;
}

.progress_status_container {
  height: 0.5rem;
  background-color: var(--secondary-background-color);
  display: flex;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}

.progress_status {
  content: "";
  background-color: var(--green-color);
  transition: 0.3s ease-in-out;
  border-radius: var(--border-radius);
}

.filter_type {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;

  width: 100%;
  margin: 0 auto;
  max-width: max-content;
  height: max-content;

  font-size: 0.8rem;
  font-weight: bold;

  margin-bottom: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.filter_type li {
  border-radius: var(--border-radius);
  text-align: center;
  padding: 1rem;
}

.filter_type li:hover {
  cursor: pointer;
  background-color: var(--secondary-background-color);
}

.filter_type .selected {
  background-color: var(--secondary-background-color);
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;

  @media (min-width: 462px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 970px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.create_new_task {
  width: max-content;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.new_task {
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.new_task {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 10;

  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);

  box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.9);

  @media (min-width: 768px) {
    padding: 2.5rem;
    top: 80px;
    bottom: auto;
  }
}

.new_task input,
.new_task button,
.create_new_task button {
  background-color: var(--main-background-color);
  border: none;
  color: var(--text-color);
  padding: 1rem;
  outline: 0;
  width: 100%;

  margin-bottom: 0.5rem;
  font-size: 1rem;

  border-radius: var(--border-radius);
}

.new_task input {
  margin-top: 0.2rem;
}

.new_task label,
.new_task button {
  margin-top: 1rem;
}

.new_task p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.new_task button:disabled {
  background-color: var(--secondary-background-color);
}

.create_new_task {
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 10;

  @media (min-width: 768px) {
    right: 40px;
  }
}

.new_task button,
.create_new_task button {
  cursor: pointer;

  background-color: var(--box-checked-color);

  transition: background-color 0.3s;

  &:hover {
    filter: brightness(1.2);
  }
}

.create_new_task button {
  width: 80px;
  font-size: 2rem;
  box-shadow: 0 7px 17px -8px rgba(0, 0, 0, 0.9);
}
