* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-background-color);
  font-family: "Nunito", sans-serif;
}

input,
textarea,
button {
  font-family: "Nunito", sans-serif;
}

.bold {
  font-weight: bold;
}

svg {
  width: 20px;
  height: 20px;
}
